@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* @apply p-12; */
}

a {
	@apply underline;
}

.label {
	@apply text-sm leading-5 text-gray-700;
}

.codelinemarkers {
	width: 24px;
}

.CodeMirror-line {
	padding-left: 10px;
}

.Toastify__toast {
	border-radius: 0.25rem;
}

.Toastify__toast--success {
	background-color: #48bb78;
}

.flex-1-0-auto {
	flex: 1 0 auto;
}

/***** TIPPY *****/

.tippy-box[data-theme='colorbox'] {
	background-color: white;
	color: black;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
	box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

.tippy-box[data-theme='colorbox'] .tippy-content {
	padding: 0;
}

/***** MAKRDOWN ******/

/* purgecss start ignore */
/* Markdown Styles */
/* Global */
.markdown {
	@apply leading-relaxed text-sm;
}

@screen sm {
	.markdown {
		@apply text-base;
	}
}

@screen lg {
	.markdown {
		@apply text-lg;
	}
}

/* Headers */
.markdown h1,
.markdown h2 {
	@apply text-xl my-6 font-semibold;
}
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
	@apply text-lg my-3 font-semibold;
}

@screen sm {
	.markdown h1,
	.markdown h2 {
		@apply text-2xl;
	}
	.markdown h3,
	.markdown h4,
	.markdown h5,
	.markdown h6 {
		@apply text-xl;
	}
}

/* Links */
.markdown a {
	@apply text-blue-600;
}
.markdown a:hover {
	@apply underline;
}
/* Paragraph */
.markdown p {
	@apply mb-4;
}
/* Lists */
.markdown ul,
.markdown ol {
	@apply mb-4 ml-8;
}
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
	@apply mb-0;
}
.markdown ol {
	@apply list-decimal;
}
.markdown ul {
	@apply list-disc;
}
/* Blockquotes */
.markdown blockquote {
	@apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
}
.markdown blockquote > p {
	@apply mb-0;
}
/* Tables */
.markdown td,
.markdown th {
	@apply px-2 py-1 border border-gray-400;
}
.markdown tr:nth-child(odd) {
	@apply bg-gray-100;
}
.markdown table {
	@apply mb-6;
}
/* Wrap any inline highlights `that are really long`, but don't modify
   the setting for codeblocks (inside ```), which are rendered in as:
   <pre><code>...
*/
.markdown :not(pre) > code.language-text {
	white-space: pre-line;
}
/* Code */
.markdown code {
	@apply text-sm p-1 bg-gray-200;
}
/* purgecss end ignore */
