@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* @apply p-12; */
}

a {
	@apply underline;
}

.label {
	@apply text-sm leading-5 text-gray-700;
}

.codelinemarkers {
	width: 24px;
}

.CodeMirror-line {
	padding-left: 10px;
}

.Toastify__toast {
	border-radius: 0.25rem;
}

.Toastify__toast--success {
	background-color: #48bb78;
}

.flex-1-0-auto {
	flex: 1 0 auto;
}
